<div id="story-box-5">
    <h2 id="story-title-5">426 MILIONS D'ANYS ENRERE</h2>
    <p id="story-text-5"></p>
</div>

<script>
    const element_5 = document.querySelector('#story-box-5') as HTMLElement | null;
    const storyText_5 = document.getElementById('story-text-5');
    const story_5 = "Els continents no aturen de moure’s. Laurentia, Baltica i Avalònia s’han anat apropant molt. De xocar, han començat a formar-se muntanyes, i en uns anys, segurament aquestes muntanyes acabaran formant un gran continent: Euramèrica. Encara no està del tot fet, però falta poc.";

    let storyStarted_5 = false;

    function typeWriter_5(text: string, index = 0, onComplete?: () => void) {
        if (index < text.length) {
            if (storyText_5) {
                storyText_5.textContent += text.charAt(index);
            }
            setTimeout(() => typeWriter_5(text, index + 1, onComplete), 50);
        } else if (onComplete) {
            setTimeout(onComplete, 2000);
        }
    }

    function moveContainerRight_5() {
        if (element_5) {
            element_5.style.transition = 'transform .5s ease-in-out';
            element_5.style.transform = 'translateX(100vw)';

            setTimeout(() => {
                window.scrollTo({
                    top: window.scrollY + 1800,
                    behavior: 'smooth'
                });
            }, 500);
        }
    }

    if (element_5) {
        setTimeout(() => {
            element_5.style.filter = 'opacity(1)';
        }, 6500);

        element_5.addEventListener('mouseover', () => {
            element_5.style.position = 'fixed';
            element_5.style.width = '100%';
            element_5.style.height = '100vh';
            element_5.style.borderRadius = '0';
            element_5.style.top = '0';

            const title_5 = element_5.querySelector('#story-title-5') as HTMLElement | null;
            if (title_5) title_5.style.display = 'none';

            if (storyText_5) {
                storyText_5.style.display = 'block';
                if (!storyStarted_5) {
                    storyStarted_5 = true;
                    typeWriter_5(story_5, 0, moveContainerRight_5);
                }
            }
        });
    }
</script>

<style>
    #story-box-5 {
        position: absolute;
        top: calc(2000px + 240px + 1600px + 1770px + 1770px); 
        width: 500px;
        height: 180px;
        background-color: #fff;
        color: #000;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        filter: opacity(0);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        transition: all 1s ease-in-out;
    }

    #story-title-5 {
        font-weight: 700;
    }

    #story-text-5 {
        width: 80%;
        font-size: 1.2rem;
        display: none;
        white-space: pre-wrap;
        line-height: 1.5;
        text-align: center;
    }
</style>
